:root {
    --text-color: #282828;
    --button-color: #4188AF;
    --button-color-alt: #AF9041;
    --resin-fill: #56CCF2;
    --bg-color: #B2ECFF;
    --bg-gradient: linear-gradient(30deg, var(--button-color), var(--resin-fill));
    --bg-image: url(assets/images/resin.png);
}

@font-face {
    font-family: 'HYWenHei';
    src: url('assets/fonts/HYWenHei/zh-cn.ttf');
}

body {
    color: var(--text-color);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    opacity: 80%;
    
    -webkit-app-region: no-drag;
}

button:hover {
    opacity: 100%;
}

button:focus {
    outline: none;
    box-shadow: none;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    background: var(--bg-gradient);
    z-index: -1;

    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#bg-image {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: var(--bg-image);
    /* background-color: var(--bg-color); */
    background-size: cover;

    transition: width 0.2s linear, height 0.2s linear;
}

#bg-image.small {
    width: 75px;
    height: 75px;
}

#bg-wave {
    background-color: var(--bg-color);
    /* background-color: blue; */
    border: 1px solid grey;
    height: 2000px;
    width: 2000px;
    border-radius: 990px 985px 980px 995px;

    position: absolute;
    top: -2000px;
    left: -850px;
    z-index: -1;

    animation: 20s linear wave infinite;
    transition: top 1s ease-out;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#resize {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    left: -5px;

    background-color: grey;
    border-radius: 5px;
}

.resin {
    position: absolute;
    top: 10px;
    right: 20px; 

    font-family: 'HYWenHei', 'Roboto';
    font-weight: 500;
    text-align: right;

    /* to make this unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resin-value {
    font-size: 36px;
    transition: font-size 0.2s linear;
}

.resin-value.small {
    font-size: 27px;
}

.resin-time {
    font-size: 18px;
    transition: font-size 0.2s linear;
}
.resin-time.small {
    font-size: 14px;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    height: 30px;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.controls button {
    margin-right: 6px;
    padding: 2px;

    flex: 1 0 60px;
}

.controls button#settings-open {
    width: auto;
    margin: 0;

    flex: 1 1 30px;
}

.overlay {
    position: fixed;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden; /* Disable scrollling */
    transition: height 0.5s; /* Transition effect - sliding in */

    display: flex;
    flex-direction: row;
    align-items: center;
}

.overlay-resin {
    height: 50px;   
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);

    display: flex;   /* also aling the items along the centre equally */
    flex-flow: row nowrap;
    justify-content: center; 
    align-items: center;
    padding: 0px 20px;
    
    font-family: Roboto, sans-serif;
}

.overlay-resin label{
    font-size: 16px;

    /* to make this unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay-resin input {
    height: 30px;
    width: 50px;
    margin: 0px 10px 0px 15px;

    text-align: center;
    box-sizing: border-box;
}

.overlay-resin button {
    height: 30px;
    width: 60px;
}

#settings-close {
    position: absolute; 
    width: 80px;
    height: 30px;
    right: -10px;   /* a bit further to the right since body is off slightly*/
    bottom: 0;
    background-color: var(--button-color-alt);
    border-radius: 5px 0 0 0;

    padding-right: 10px;
}